.git
.gitmodules
node_modules
**/node_modules
**/.next
**/.turbo
**/.eve
**/.output
**/dist
**/.vercel
.env
.env.*
!.env.example
docs/images
adrs
deploy/startos/node_modules
deploy/startos/javascript
deploy/startos/*.s9pk
